@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&display=swap');

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Baskervville', serif;
}

canvas.starfield {
  position: fixed;
  width: 100vw;
  height: 100vh;
  height: dvh;
  object-fit: contain; 
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: -1; 
  pointer-events: none;
  filter: blur(1px);

}

.baskervville-regular {
  font-family: "Baskervville", serif;
  font-weight: 400;
  font-style: normal;
}
  
.baskervville-regular-italic {
  font-family: "Baskervville", serif;
  font-weight: 400;
  font-style: italic;
}

/* ----------------------------------Base styles (mobile)---------------------------------- */

main {
    padding: 52px 16px;
    box-sizing: border-box;
  }

h1 {
    font-size: 36px;
}
h2 {
    font-size: 32px;
}

h3 {
    font-size: 28px;
}

p {
  font-size: 20px;
  margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
  }

span.title {
  font-size: 48px;
  line-height: 120%;
  letter-spacing: -.05em;
}

span.small {
    font-size: 16px;
}

  


button {
  font-size: inherit;
  font-family: inherit;
  text-decoration: none;
  color: inherit;
  height: 44px;
  background-color: inherit;
  border-radius: 4px;
  border: 1px solid black;
  padding: 0px 20px;
}

button.cta {
  border-radius: 4px;
}

.main.cta {
  font-size: 20px;
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, .15);
  width: 100%;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  background-color: rgba(250, 249, 248, .25);
  height: 54px;
}

textarea {
    border-radius: 2px;
    font-family: inherit;
    resize: none; 
    overflow: hidden;
    height: auto;
}

textarea.new {
    font-size: 48px;
    transition: height 0.3s ease;
}

textarea::placeholder {
    opacity: .25;
}
/* ----------------------------------Tablet and up---------------------------------- */

@media (min-width: 600px) {
    span.title {
        font-size: 72px;
    
      }
  
}

/* ----------------------------------Desktop and up---------------------------------- */
@media (min-width: 1024px) {
 
    main {
        padding: 60px;
        box-sizing: border-box;
      }


    span.title {
        font-size: 84px;
      
      }

}